@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #6b4f99;
  --color-primary-dark: #5d4585;
  --color-banner-bg: #a5a0c3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFB;
}